*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    max-width:1600px;
}

header{
    background-color: #1A0B2E;
    
}
nav{
    width:100%;
    max-width: 1600px;
    height: 92px;
    /* border:1px solid red; */
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
 h1{
    color: #FFFFFF;
}
 h1 span{
    background:linear-gradient(0deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
ul.menu{
    display: flex;
    list-style-type: none;
    gap:32px;
    align-items: center;
    

}
nav .menu a{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}
.btn{
    background:linear-gradient(45deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    border: none;
    padding:12px 16px 12px 16px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
   
    align-items: center;
    display: flex;
    gap:10px;
 } 
 /* banner */
 #banner{
  background-image: url(../assets/hero-bg.png);
  
 
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-content{
    text-align: center;
}
.parent{
    position: relative;
    width:350px;
    height:350px;
    margin-top: 100px;
    
}
.bg{
    width:100%;
    height:100%;
}
.icon{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:120px;
}
.text h1{
    color: #FFFFFF;
    font-size: 60px;
    margin-top: 40px;
}
.text p{
    margin-top: 10px;
    color: #FFFFFF;
   
}
.button-content{
    display: flex;
    /* margin: 0 auto; */
    justify-content:center;
    gap:16px;
    margin-top: 20px;
    padding-bottom: 150px;
    
    
}
.btn1{
   
    background: transparent;
    color:#00FF88;
    border: 2px solid #00FF88;
   
    padding:12px 16px 12px 16px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
   
    align-items: center;
    display: flex;
    gap:10px;
 
}
/* about */
#about{
    
    background-color: #1A0B2E;
       
}
.about-heading{
    text-align: center;
}
.about-heading h1{
    font-size: 48px;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.about-heading p{
    color: #FFFFFF;
}
 .about-container hr{
    color: rgb(229, 231, 235, 1);
   opacity: 0.2;
    max-width: 1360px;
    margin:84px  auto 0;
    
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:80px;
 text-align: center;
 
 
}
.fact-card{
    padding-bottom: 60px;
    padding-top: 80px;
}
.fact-number{
  font-size: 3rem;
  font-weight: 600;
color: #00FF88;
margin-bottom: 16px;
}
.fact-card p{
    color: #FFFFFF;
    font-size: 1rem;
    text-transform: uppercase;
}
/* footer */
.footer{
    background-image:url(../assets/footer-bg.png); ;
}
.footer-container{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    gap:40px;
}
.footer h2.logo{
    font-size: 3.5rem;
    padding-top: 50px;
}
 h2 span{
    background:linear-gradient(0deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}
h2{
    color: #FFFFFF;
}
.social{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
align-items: center;
    gap:8px;
}
.social a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    
}
.social a img{
    margin-right: 8px;
    vertical-align: middle;
}
.copyright{
    font-size: 1rem;
    color: #FFFFFF;
    padding-bottom: 120px;
}